@import "../../scss/variables";
@import "../../scss/mixins";

.wrap {
  @include flex-center;
  height: 100vh;

  .form {
    h3 {
      margin-bottom: 42px;
      color: $main-green;
    }

    background-color: $main-grey;
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 36px;
    border-radius: $brdr-main;

    .inputs {
      @include flex-column;
      gap: 12px;

      .error {
        color: orangered;
        font-size: 14px;
      }

      .input {
        border-radius: 50px;
        height: 54px;
        border: 2px solid lightgray;
        background-color: $main-grey;
        outline: none;
        padding: 0 24px;
        color: lightgray;

        &:hover {
          border: 2px solid $main-green;
          transition: .1s;
        }

        &:focus {
          border: 2px solid $main-green;
          transition: .1s;
        }
      }

      .btn {
        @include out-brd-reset;
        border-radius: 50px;
        height: 48px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 12px;
        &:hover {
          background-color: $main-green;
          color: white;
          transition: .1s;
        }

        &:focus {
          background-color: $main-green;
          color: white;
          transition: .1s;
        }
      }
    }
  }
}