@import '../../scss/mixins';
@import '../../scss/variables';

.chat {
  @include flex-column;
  width: 100%;

  .chatInfoWrap {
    padding: 12px 24px;
    background-color: $chat-grey;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;

    .chatInfo {
      display: flex;
      gap: 12px;
      align-items: center;

      .avatar {
        height: 42px;
      }
    }
  }

  .messages {
    @include flex-column;
    flex: 1;
    gap: 8px;
    //justify-content: end;
    align-items: end;
    padding: 24px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .receivedMessage {
      @include message;
      align-self: flex-start;
    }

    .ownMessage {
      @include message;
      background-color: $main-green;
      color: $primary-title;
    }
  }

  .inputs {
    padding: 12px 24px;
    background-color: $chat-grey;
    height: 64px;

    form {
      display: flex;
      gap: 24px;

      .messageInput {
        @include out-brd-reset;
        background-color: $chat-input-grey;
        border-radius: $brdr-main;
        height: 44px;
        width: 100%;
        padding: 0 24px;
        color: lightgrey;
        font-size: 16px;
      }

      .sendMessageBtn {
        @include out-brd-reset;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}