$main-dark: #111B21;
$main-dark-hover: #2A3942;
$primary-title: rgba(233, 237, 239, .88);
$main-grey: rgb(34, 46, 53);
$primary: rgb(134, 150, 160);
$font: 'Ubuntu', sans-serif;
$brdr-main: 4px;
$main-green: #25D366;
$menu-grey: #5E5F60;
$chat-grey: #202C33;
$chat-input-grey: #2A3942;